<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YT Random playlist video</title>
  </head>
  <body>
    <h1>YouTube Random Playlist Video API</h1>
    <h2>How to use this API:</h2>
    <ul>
      <li>Choose a <strong>regular, public</strong> YouTube playlist.</li>
      <li>
        Find its ID. It can usually be found in the URL:
        <code
          >https://www.youtube.com/playlist?list=<strong
            >PLAYLIST_ID</strong
          ></code
        >
      </li>
      <li>
        Go to <code><%=baseUrl%>/<strong>PLAYLIST_ID</strong></code> where
        <strong>PLAYLIST_ID</strong> is the ID of your chosen playlist.
      </li>
      <li>Get redirected to a random video from that playlist.</li>
    </ul>
  </body>
</html>
